<h2 class="animated fadeIn fast">Sobre App Comics</h2>
<hr />
<p class="animated fadeIn fast">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, soluta veritatis est natus, delectus fugiat magni facilis eveniet placeat et earum officia assumenda, repellat nobis adipisci similique numquam odit tenetur!
</p>
<p class="animated fadeIn fast">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, soluta veritatis est natus, delectus fugiat magni facilis eveniet placeat et earum officia assumenda, repellat nobis adipisci similique numquam odit tenetur!
</p>

